body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: rgb(45, 45, 170);
    color: rgb(114, 47, 55);
}

header{
    background-color: rgb(235, 222, 207);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}

h1{
    margin: 0;
}

main{
    padding: 20px;
    background-color: rgb(193, 154, 107);
    border-radius: 5px;
    text-align: center;
}

button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(235, 222, 207, 0.484);
}